---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import dotenv from "dotenv"

dotenv.config()

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const projects = (await getCollection("project")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const res = await fetch("http://localhost:3001/api/posts")
const projects = await res.json()


const last_posts = posts.slice(0, 3);
const last_projects = projects.docs.slice(0, 3)
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <div class="text-5xl font-bold">Mario Alzamora</div>
    <div class="text-3xl py-3 font-bold">Multimedia Developer</div>
    <div class="py-2">
      <text class="text-lg">
        I develop <strong>interactive creative projects</strong> for brands and clients all around the world.
      </text>
    </div>
    <div class="mt-4">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <!-- <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects</div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.title}
          img={project.heroImage.url}
          desc={project.description}
          url={'/project/'+project.slug}
          target="_self"
          badge={project.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage[0]}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
