---
import { ProjectSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends ProjectSchema {}

const { title, description, pubDate, updatedAt, heroImage, badge, slider, content } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { Image } from "@astrojs/image/components";
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <!-- Carousel -->
        <div class="carousel w-full">
          {
            slider && slider.map((slide, index)=>{
              console.log(slide.image.url)
              return <>
                <div id={'image'+(index+1)} class="carousel-item w-full">
                  <Image
                    aspectRatio={"16:9"}
                    width={750}
                    height={422}
                    format="jpg"
                    src={slide.image.url}
                    alt={title}
                    class="w-full mb-6"
                  />
                </div> 
              </>
            })
          }
        </div> 
        <div class="flex justify-center w-full py-2 gap-2">
          {
            slider && slider.map((slide, index)=>{
              return <>
                <a href={'#image'+(index+1)}  class="btn btn-xs">{index+1}</a> 
              </>
            })
          }
        </div>
      <!-- End Carousel -->
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {pubDate && <time>{displayDate}</time>}
      <br />
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        updatedAt && (
          <div>
            {" "}
            Last updated on <time>{updatedAt}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <p>{content}</p>
      <slot>
        <p>Soy un fallback</p>
      <slot />
    </article>
  </main>
</BaseLayout>
